* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-right: 15px;
}

.about {
  color: #75ABDE;
  display: flex;
  align-items: center;
  height: 100%;
}

.register {
  padding: 35px;
  border: 1px solid #75ABDE;
  border-radius: 10px;
}

.user-info {
  margin: 0px 40px;
  margin-top: 20px;
  font-size: 1.25rem;
  text-align: center;
}

.encrypt {
  color: #979797;
}

.icon {
  display: flex;
  justify-content: center;
  text-align: center;
}

.icon i {
  color: black;
  float: left;
  margin-right: 5px;
  align-items: center;
}

.sections {
  text-align: center;
  margin: 0px 40px;
}

.section {
  font-size: 1rem;
  margin: 20px;
  min-height: 350px;
  min-width: 275px;
  border: 1px solid #75ABDE;
  border-radius: 10px;
}

.section-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.sub-header {
  background-color: #75ABDE;
  color: white;
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
}

.pocket {
  border-left: 1px solid #D0D0D0;
  border-right: 1px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 15px;
}

#watched {
  max-height: 200px;
  overflow-y: auto;
}

.dash-event {
  padding: 5px;
}

.dash-event-title {
  text-align: left;
  float: left;
  min-width: 75%;
  border-radius: 5px 0px 0px 5px;
  padding: 5px;
  background-color: #EEEEEE;
}

.dash-event-date {
  float: right;
  min-width: 25%;
  border-radius: 0px 5px 5px 0px;
  padding: 5px;
  background-color: #D0D0D0;
}

#symptoms {
  background-image: url('/img/coronavirus.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-primary {
  background-color: #75ABDE;
  border: #75ABDE
}

.btn-primary:hover {
  background-color: #CF3232;
  border: #CF3232
}

@media only screen and (max-width: 1079px) {

  .sections {
    text-align: center;
    margin: 0px;
  }

  .section {
    font-size: .8rem;
    padding: 5px;
    min-width: 335px;
  }

  .mm-30 {
    margin-bottom: 105px;
  }

  .mm-15 {
    margin-bottom: 105px;
  }
}

@media only screen and (max-width: 500px) {
  
  .mm-30 {
    margin-top: 30%;
  }

  .mm-15 {
    margin-top: 15%;
  }

  .mobile-settings {
    display: block;
  }

  .icon {
    display: contents;
    text-align: center;
  }

  .icon span {
    margin-bottom: 5px;
  }

  .user-info {
    justify-content: center;
  }

}

@media only screen and (max-width: 350px) {
  .section {
    min-width: 250px;
  }
}