.mobile-brand {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-right: 0;
    font-weight: bold;
    font-size: 1.75rem;
    color: #75ABDE;
}

.navbar-ft {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-left: 15px;
    height: 80px;
    background-color: #75ABDE;
}

.ft-icon {
    margin-right: 6px;
    margin-left: 6px;
}

.ft-icon a .nav-link {
    display: flex;
    align-items: center;
}

.nav-link {
    padding: 0;
}

.ft-icon i {
    font-size: 1.6rem;
    color: white;
}