.navbar {
    background-color: #75ABDE;
}

.navbar a {
    color: white;
}

.nav-item i {
    margin-right: 5px;
}

.nav-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#navbarNav {
    margin-left: 25px;
}

a.nav-link {
    display: flex;
    align-items: center;
    padding-left: 0 !important;
}

a.nav-link:hover, a.nav-link:hover i {
    color: #CF3232;
}

@media only screen and (max-width: 1079px) {
    #navbarNav {
        margin-left: 0;
    }
}