.search-results {
  background-color:#ffffff;
  color: #252525;
  padding: 0;
}

.data-group {
  margin-bottom: 100px;
}

.data {
  background-color: #f9f9f9;
  border: 1px solid #75ABDE;
  border-radius: 20px;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  min-height: 125px;
  min-width: 225px;
  max-width: 300px;
}

.data-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #75ABDE;
}

.data-result {
  font-size: 2.25rem;
  font-weight: bold;
}